numpy==1.24.2
opencv-python==4.7.0.72
slack-sdk==3.27.2
python-dotenv==1.0.0
pyautogui==0.9.53
Pillow==9.5.0
PyScreeze==0.1.28


# TODO: Pythonの実行がopenssl系のエラーを修正する.
# 暫定対応: brew install openssl@1.1 を実行してopensslのマイナーバージョンをインストールする.